{{ header }}
import UIKit
{% if assetsInSwiftPackage and resourceBundleNames %}
private class BundleProvider {
    static let bundle = Bundle._module
}
{% elif assetsInSwiftPackage and not resourceBundleNames %}
private class BundleProvider {
    static let bundle = Bundle.module
}
{% elif not assetsInSwiftPackage and not resourceBundleNames %}
private class BundleProvider {
    static let bundle = Bundle(for: BundleProvider.self)
}
{% endif %}
public extension UIImage {{ "{" }}{% for image in images %}
    {% if addObjcPrefix %}@objc {% endif %}static var {{ image.name }}: UIImage { UIImage(named: #function{% if not assetsInMainBundle %}, in: BundleProvider.bundle, compatibleWith: nil{% endif %})! }{% endfor %}
}
{{ bundleExtension }}